@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&display=swap');

/* reset */
* {margin:0; padding:0; box-sizing:border-box;}
body {font-family: 'Noto Sans KR', sans-serif;}
/* font-family: 'Nanum Gothic', sans-serif; */
ul,ol,li {list-style:none;}
button {border:none; background-color:transparent; cursor:pointer; outline:0; vertical-align:middle;}
a {text-decoration:none; color:inherit;}

/* animation */
@keyframes moveLR {
    from {background-position-x:0;}
    to {background-position-x:-300%;}
}

@keyframes fadeInUp {
    from {opacity:0; transform:translate3d(0,50px,0);}
    to {opacity:1; transform:translate3d(0,0,0);}
}

/* layout */
section {position:relative; background:#fff; z-index:10;}
.container {max-width:1000px; margin:100px auto;}
article {display:flex; padding:50px 0; flex-wrap:wrap;}
article:first-child {padding:0 0 50px;}
h3 {display:table; margin:50px auto; font-size:30px; background:linear-gradient(#fff 60%,#ccc 40%);}

/* header */
header {z-index:10;}
nav.gnb {position:fixed; top:0; width:100%; padding:10px 20px; z-index:100; background:rgba(0,0,0, .7); color:#fff;}
nav.gnb.on {background:rgba(0,0,0, .3);}
nav.gnb .con {max-width:1000px; margin:0 auto; display:flex;}
nav.gnb h1 {width:200px; vertical-align:middle;}
nav.gnb ul {flex:1; display:table;}
nav.gnb ul li {display:table-cell; text-align:center; vertical-align:middle; cursor:pointer;}
.btn_nav {display:none; position:absolute; right:20px; top:10px; width:17px; height:35px;}
.btn_nav span {position:absolute; right:0; width:100%; height:2px; background:#fff; transition:all .3s;}
.btn_nav span:nth-child(1) {top:11px;}
.btn_nav span:nth-child(2) {top:16px;}
.btn_nav span:nth-child(3) {top:21px;}
.btn_nav:hover span:nth-child(1) {top:7px;}
.btn_nav:hover span:nth-child(3) {top:25px;}

nav.side {display:none; position:fixed; right:-100%; top:0; padding:50px 20px; width:50%; height:100%; background:#000; color:#fff; transition:right .7s; z-index:200;}
nav.side.on {right:0;}
nav.side h1 {}
nav.side ul {margin-top:70px;}
nav.side ul li {padding:20px 0; border-bottom:1px solid rgba(255,255,255, .2); cursor:pointer;}
.btn_close {position:absolute; right:30px; top:55px; width:30px; height:30px;}
.btn_close span {position:absolute; right:0; width:100%; height:2px; background:rgba(255,255,255, .5);}
.btn_close span:nth-child(1) {transform:rotate(45deg);}
.btn_close span:nth-child(2) {transform:rotate(-45deg);}

/* slick */
.slick {width:100%; height:100vh; overflow:hidden; background:#fff; z-index:10;}
.slick-slide {padding:40vh 0 0 100px; color:#fff;}
.slick-slide > p {opacity:0;}
.slick-slide .h1 {transform:translateX(50px); font-size:18px;}
.slick-slide .h2 {transform:translateX(100px); font-size:40px; margin:10px 0 20px;}
.slick-slide .h3 {transform:translateX(70px); font-size:22px;}
.slick-active .h1, .slick-active .h2, .slick-active .h3 {transform:translateX(0);}
.slick-active > p {opacity:1; transition:all 1.5s; transition-delay:.7s;}
.slick-list, .slick-track {height:100%;}
.slick-active {opacity:1;}
.slick-current {opacity:1;}
.slick-prev {left:20px;}
.slick-next {right:20px;}
.slick-arrow {z-index:10;}
.slick-arrow:before {color:#fff;}
.slick-dots {bottom:20px;}
.slick-dots li {width:auto; margin:0;}
.slick-dots li + li {margin-left:10px;}
.slick-dots li button {width:auto; padding:0;}
.slick-dots li button:before {content:''; position:relative; top:auto; left:auto; display:inline-block; width:10px; height:10px; background:#000; border-radius:10px; opacity: .3; transition:all .5s;}
.slick-dots li.slick-active button:before {width:30px; background:#fff; opacity: .8;}
.slick-dotted.slick-slider {margin-bottom:0;}
[id^='slick-slide'], .slick-cloned {background-size:cover; background-position:center top; background-repeat:no-repeat;}
#slick-slide00, .slick-cloned {background-image:url('../images/main_01.jpg');}
#slick-slide01 {background-image:url('../images/main_02.jpg');}
#slick-slide02 {background-image:url('../images/main_03.jpg');}

/* box */
.item_list {flex:1 1 30%; padding:5px;}
.item_box {position:relative; padding:15px; background:#fff; border-radius:10px; box-shadow:4px 12px 30px 6px rgb(0 0 0/9%);}
.item_box:hover {cursor:pointer; transition:all .3s ease; transform:translateY(-5px); box-shadow:4px 12px 20px 6px rgba(0,0,0,.18)}
.item_box strong {font-size:20px;}
.item_box .txt {min-height:100px; margin-top:20px; border:1px solid #eee;}
.item_box .txt img {width:100%; height:auto;}
.item_box .info {margin-top:10px;}
.item_box .info li {font-size:12px;}
.item_box .info li + li {margin-top:5px;}
.item_box .info li:nth-child(1) {}
.item_box .info li:nth-child(2) {color:#888;}
.item_box .info li:nth-child(3) {font-weight:bold;}
.item_box.type2 {box-shadow:none; border:1px solid #fa5c5c;}
.item_box.type2:hover {box-shadow:none; transform:none; border-width:3px;}

.thumb_list {display:grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(2, 1fr); gap:20px;}
.thumb_list li {position:relative; height:320px; overflow:hidden;}
.thumb_list li a::after {content:''; position:absolute; left:0; top:0; right:0; bottom:0; border:0px solid #fa5c5c; transition:all .3s ease;}
.thumb_list li a:hover {}
.thumb_list li a:hover::after {border-width:7px; background:rgba(0,0,0,.3);}
.thumb_list li img {display:block; width:100%;}
.thumb_list li:last-child {grid-column: 1/3;}

/* ani_box */
.ani_box {position:relative; padding:50px 0; text-align:center;}
.ani_box .h1, .ani_box .h2 {position:relative; z-index:10;}
.ani_box .h1 {}
.ani_box .h2 {}
.ani_box .bg {position:absolute; left:0; top:0; right:0; bottom:0; background:#fc0; transition:all .5s ease; transform:matrix(.62,0,0,1,0,0); z-index:1;}
.ani_box .bg.on {transition:all .5s ease; transform:matrix(1,0,0,1,0,0);}

.animated-bg-section {position: relative; padding:50px 0;}
.animated-bg-section .container {position: relative; z-index: 5}
.animated-bg-section .caption {text-align: center; padding: 0 15%}
.animated-bg-section .caption h2 {font-size: 48px; font-weight: 300; color: #fff; margin-bottom: 20px}
.animated-bg-section .caption p {font-weight: 300; color: #fff; line-height: 1.75; margin-bottom: 35px; opacity: .8}
.animated-bg-section .animated-bg {position: absolute; top: 0; left: 0; bottom: 0; right: 0; background-color: #fa5c5c; z-index: 1; transform: matrix(.62,0,0,1,0,0)}

/* scroll indicator */
.scroll_indicator {position:fixed; left:0; top:55px; width:100%; height:4px; z-index:150;}
.scroll_indicator span {position:absolute; height:5px; background:#f6d30a; transition:width .4s ease-out; transform:rotateZ(0deg);}

/* move_line */
.move_line {height:50px; background:#fff200 url('../images/moveLR_img.gif') repeat-x 0 10px; /*animation:moveLR 100s infinite linear;*/ }

/* move_img */
.move_img {position:relative; margin-top:100px; padding-bottom:100px;}
.move_img img {width:50vw; max-width:350px; box-shadow:20px 20px 40px -8px rgb(0 0 0 / 16%);}
.move_img img:nth-child(1) {transform:translate(50%,0);}
.move_img img:nth-child(2) {transform:translate(50px,-100px);}

/* progress */
.col-text {margin-top:100px;}
.col-text .progress-group {margin-top: 30px}
.col-text .progress-group .progress-heading {position: relative; margin-bottom: 15px; overflow:hidden;}
.col-text .progress-group .progress-heading span {font-size: 14px; font-weight: 300; color: #999; letter-spacing: 0}
.col-text .progress-group .progress-heading .percent {position: absolute; top: 0; left: 0; right: 0}
.col-text .progress-group .progress-heading .percent .percent-text {position: relative; display: inline-block; opacity: 0; transform: translateX(-100%); transition: opacity 1s ease}
.col-text .progress-group.active .progress-heading .percent .percent-text {opacity: 1}
.col-text .progress-group .progress-heading .percent .percent-text:after {content: '%'}
.col-text .progress-group .progress-wrap {position: relative; height: 5px; overflow: hidden}
.col-text .progress-group .progress-wrap .bar {position: absolute; top: 0; left: 0; bottom: 0; background: linear-gradient(to right, #ffbcfa, #fa5c5c)}

/* bg_fixed */
.bg_fixed {padding:100px 0; background:url('../images/main_11.jpg') no-repeat center/cover fixed; color:#fff; text-align:center; word-break:keep-all;}

/* skill */
.skill_list {display:flex; flex-wrap:wrap;}
.skill_list li {flex:1; padding:5px;}
.ico_skill {position:relative; max-width:100px; height:120px; margin:0 auto; padding-top:30px; border:4px solid #000; border-radius:15px; box-sizing:border-box; text-align:center; font-weight:800; font-size:18px;}
.ico_skill::before {content:''; position:absolute; right:-4px; top:-4px; border-bottom:4px solid #000; border-top:4px solid transparent; border-left:4px solid #000; border-right:4px solid transparent; width:20px; height:20px; background:#fff; border-radius:5px;}
.ico_skill::after {content:''; position:absolute; right:-8px; top:8px; width:36px; height:4px; background:#000; border-radius:5px; transform:rotate(45deg);}

/* footer */
footer {position:fixed; bottom:0; left:0; width:100%; padding:50px; background:#222; color:rgba(255,255,255, .3); z-index:1;}
footer ul {margin:10px 0;}
footer ul li {padding:2px 0;}
address {}


/* media query */
@media screen and (max-width:768px) { 

    /* header */
    nav.gnb ul {display:none;}
    .btn_nav {display:block;}
    nav.side {display:block;}

    /* box */
    .container {padding:0 20px;}
    .move_line {animation-duration:40s;}
    .item_list {flex:1 1 50%;}
    .item_box strong {font-size:16px;}

    /* slick */
    .slick {height:50vh;}
    .slick-slide {padding:20vh 0 0 70px;}
    .slick-slide .h1 {font-size:12px;}
    .slick-slide .h2 {font-size:30px;}
    .slick-slide .h3 {font-size:14px;}

    /* skill */
    .skill_list li {flex:1 1 50%;}
    .ico_skill {font-size:12px;}


}