@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&display=swap');

/* reset */
* {margin:0; padding:0; box-sizing:border-box;}
body {font-family: 'Noto Sans KR', sans-serif;}
/* font-family: 'Nanum Gothic', sans-serif; */
ul,ol,li {list-style:none;}
button {border:none; background-color:transparent; cursor:pointer; outline:0; vertical-align:middle;}

/* media query */
@media screen and (max-width:768px) { 

}